*{
    box-sizing: border-box;
}
.carSides{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.carFront__image{
    transform: scale(2.5);
    z-index: 110;
}
.carBack__image{
    transform: scale(2.5);
    z-index: 110;
}
.carRoof__image{
    transform: scale(1.5);
    z-index: 110;
}
.carLeft__image{
    transform: scale(1.5);
    z-index: 110;
}
.carRight__image{
    transform: scale(1.5);
    z-index: 110;
}
.carRightView{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;

}
.carRoof__underpath{
    position: absolute;
    z-index:400;
    margin-top: -12px;
}
.carFront{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carfront__windshield{
    margin-top: -71px;
    margin-bottom: 11px;
}
.carfront__mirrors{
    margin-top: -47px;
}
.carfront__headlights{
    z-index:500;
    margin-top: 10px;
    margin-bottom: 7px;
}
.carback__underpath{
    position: absolute;
    z-index:400;
}
.carback__rearlights{
    z-index:500;
    margin-top: -35px;
}
.carback__rearglass{
    z-index:500;
    margin-top: 10px;
    margin-bottom: -17px;
}
.carback__trunk{
    z-index: 499;
}
.carSide__wheel{
    display: flex;
    align-items: center;
    margin-top: -58px;
    margin-right: -70px;
    margin-bottom: 24px;
}
.carSide__rearwheel{
    display: flex;
    align-items: center;
    margin-top: -87px;
    margin-right: -67px;
    margin-bottom: 24px;
}
.carSide__glasses{
    display: flex;
    flex-direction: column;
    margin-top: -230px;
    margin-left: -95px;
}
.carSides__left{
    transform: scale(-100%, 100%);
    margin-left: -10px;
}
.carSides__right{
    margin-left: 10px;
}

.carInterior__steeringWheel{
    margin-left:-60px;
    margin-top: -79px;
    margin-bottom: 5px;
    z-index: 802;
}