*{
    box-sizing: border-box;
}
.adddamages{
    width: 100%;
    height: 100%;
}
.carviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin:35px;
    z-index: 105;
}