
.alldamages{
    margin-top: 20px;
    width: 300px;    
    background-color: #f3f3f3;
    border-radius: 15px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.32);
    z-index: 103;
    opacity: 0;
    transition: .4s ease;
    animation: damageOpacity 1.2s ease forwards;
}
.alldamages__title{
    margin:0;
    margin-top: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 95%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #393939;
}
.allpreview{
    position: absolute;
}
.alldamages__item{
    display: flex;
    background: white;
    border-radius: 10px;
    padding: 10px;
    justify-content:space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    animation: damageOpacity .5s ease forwards;
}
.alldamages__item-title{
    margin:0;
    margin-right: 10px;
    font-size: 20px;
}
.alldamages__getpreview{
    border: 0;
    background: linear-gradient(63.8deg, #324167 -53.91%, #A468B8 104.71%), #D9D9D9;
    border-radius: 5px;
    color: white;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}
.alldamages__empty{
    margin: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #747474;
    border-radius: 10px;
    &-title{
        color: white;
        text-align: center;
        margin: 10px;
        font-size: 17px;
        font-weight: 400;
        text-transform: uppercase;
    }
    opacity: 0;
    will-change: opacity;
    animation: damageOpacity .5s ease forwards;
}

@keyframes damageOpacity {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}