
.carImageButton{
    border: 0;
    background-color: transparent;
    z-index: 401;
}
.carImageButton__hood{
    margin: 0;
}
.carImageButton__windshield{
    margin-top: -2px;
    margin-bottom: 8px;
}
.carImageButton__roof{
    margin-bottom: 10px;
    margin-left: 1px;
}
.carImageButton__rearGlass{
    margin-top: 3px;
    margin-bottom: 20px;
    
}
.carImageButton__lMirror{
    margin-left: 170px;   
}
img{
    border-radius: 0;
}
.carImageButton__lHeadlight{
    margin-left: 105px;   
}
.carImageButton__rRearlight{
    margin-left: 42px;   
    margin-right: 42px;
}
.carImageButton__rBumper{
    margin-top: -8px;
}
.carImageButton__rFoglight{
    margin-top: -26px;
    margin-bottom: 25px;
}
.carImageButton__disk{
    margin-left: -54.5%;
    margin-top: -1px;
}
.carImageButton__fDoor{
    margin-left: -10px;
    margin-bottom: 10px;
}
.carImageButton__fFender{
margin-top: -50px;
}
.carImageButton__rDoor{
    margin-left: -20px;
}
.carImageButton__rFender{
    margin-left: -22px;
    margin-top: 1px;
}
.carImageButton__rThreshold{
    margin-top:-182px;
    margin-right: -52px;
}
.carImageButton__fPane{
    margin-left: 21px;
    margin-top: -5px;
    margin-bottom: 11px;
}
.carImageButton__fGlass{
    margin-bottom: 12px;
}
.carImageButton__rGlass{
    margin-bottom: 10px;
}
.carImageButton__rPane{
    margin-left: 7px;
}
.carImageButton__lSeat{
    margin-left: -61px;
    z-index:801;
}
.carImageButton__rSeat{
    margin-left: 57px;
    margin-top: -52px;
    margin-bottom: 15px;
}
.carImageButton__rearSofa{
    margin-left: -2px;
}