
.bigbutton{
    background-color: transparent;
    border: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: -15px;
    -webkit-filter: drop-shadow( 0px 0px 3px rgba(0, 0, 0, .3));
    filter: drop-shadow( 0px 0px 3px rgba(0, 0, 0, .3));
}
.bigbutton__front{
    transform: translate(133px, 13px);
}
.bigbutton__roof{
    transform: translate(133px, 180px);
}
.bigbutton__left{
    transform: translate(45px, 180px);
}
.bigbutton__right{
    transform: translate(222px, 180px);
}
.bigbutton__back{
    transform: translate(133px, 320px);
}
.bigbutton__interior{
    transform: translate(220px, 330px);
}
.bigbutton__washing{
    transform: translate(45px, 320px);
}
.bigbutton__documents{
    transform: translate(45px, 13px);
}
.bigbutton__equipment{
    transform: translate(222px, 13px);
}