*{box-sizing: border-box;}
.carchoosen__button{
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    z-index:600;
}
.carchoosen__button-back{
    border: 0;
    background-color: transparent;
}
.carchoosen__body{
    opacity: 0;
    animation: animStart .5s ease forwards;
    animation-delay: .5s;
}
@keyframes animStart {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}