*{
    box-sizing: border-box;
}
.selectmenu{
    display: flex;
    justify-content: center;
    
}
.selectmenu__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 135px;
    border: 0;
    z-index: 100;
    border-radius: 15px 15px 0px 0px;
    background: #989898;
    color: white;
    font-weight: 500;
    font-size: 13px;
    line-height: 90%;
    text-transform: uppercase;
    transform: translateY(10px);
    transition: .5s ease;
    -webkit-transform: translate3d(0,10px,0);
}
.selectmenu__item.active{
    transform: translateY(3px);
    -webkit-transform: translate3d(0,3px,0);
    z-index: 101;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(63.8deg, #324167 -53.91%, #A468B8 104.71%);
}
.selectmenu__count{
    color: #989898;
    padding: 4px 6px;
    margin: 4px;
    background-color: white;
    border-radius: 100%;
}
.select__anim{
    opacity: 0;
    animation: selectAnim .5s forwards ease;
    animation-delay: 2s;
  }
@keyframes selectAnim {
    0%{
      transform: translateY(50%);
      opacity: 0;
    }
    20%{
      transform: translateY(50%);
      opacity: 0;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }