*{
    box-sizing: border-box;
    font-family:'Arial'
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    margin: 0 auto;
}
.langswitch__anim{
  animation: langswitchAnim 2s forwards ease;
  opacity: 0;
  animation-delay: 1s;
}
.logo{
  margin-top: -50px;
  margin-bottom: -50px;
    width: 232px;
  }
  .logo__anim{
    animation: logoAnim 2s forwards ease;
    -webkit-transform: translate3d(0,0,0);
    will-change: transform;
  }
  .logo__anim2{
    animation: logoAnim2 2s forwards ease;
    -webkit-transform: translate3d(0,0,0);
    will-change: transform;
  }
  @keyframes logoAnim {
    0%{
      transform: translateY(200px);
      transform: scale(0);
      opacity: 0;
    }
    50%{
      transform: translateY(200px);
      transform: scale(1);
      opacity: 1;
    }
    100%{
      transform: translateY(0);
      transform: scale(0.25);
      opacity: 1;
    }
  }
  @keyframes logoAnim2 {
    0%{
      transform: translateY(200px);

    }
    50%{
      transform: translateY(200px);

    }
    100%{
      transform: translateY(0);

    }
  }
  
  @keyframes langswitchAnim {
    0%{
      transform: translateY(200px);
      opacity: 0;
    }
    50%{
      transform: translateY(200px);
      opacity: 0;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }